{include file="common/header"}
<script src="/public/static/mobile/js/web3.1.js"></script>
<style>
    .pagination {
        text-align: center;
        margin: 0 auto;
        position: relative;
    }
    .pagination li {
        display: inline-block;
        font-size: 1rem;
        margin: 0 2px;
        padding: 0 .4rem;
        line-height: 1.5rem;
        height: 1.5rem;
        border: 1px solid #1d96e3;
    }
    .deals-index .deals-head .head-text .assets-numb {
        padding-left: 0;
    }
    .deals-index .deals-head .weui-btn {
        font-size: .85rem;
        width: 5.5rem;
    }
    .deals-index .deals-head {
        padding: 2rem 0;
        background-color: #fff;
    }
    .assets-text {
        line-height: 4rem;
        font-size: 1.3rem;
    }
    .assets-numb {
        line-height: 2rem;
        font-size: 2rem;
    }
    #myChart {
        background-color: #f15473;
        box-shadow: 0 0 3px rgba(0,0,0,.4);
        width: 95%;
        margin: 1rem auto;
        padding: 1rem;
        border-radius: .3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
    }
    .deals-index {
        padding-bottom: 1rem;
    }
    .left-arrow {
        color: #444;
        position: relative;
        top: 4px;
        line-height: 30px;
    }
    .backChat {
        color: #444;
        position: relative;
        font-size: 1.2rem;
    }
    .user-list-box .weui-cell .iconfont {
        position: relative;
        font-size: 2rem;
        top: 3px;
    }
    .nodata {
        padding-top: 5rem;
    }
    #app>.app-body {
        height: auto;
        margin-bottom: 0;
        background-color: #fff;
    }
    .deals-index .item-item {
        overflow: visible;
    }
    .deals-index .price .item-price {
        color: #4c4c51;
    }
    .deals-index a.item-btn {
        background-color: #fc8c92;
        border-radius: 5px;
        padding: 0 .05rem;
    }
    .weui-btn_primary {
        background-color: #fc8c92;
    }
    #app>.vux-header, body .vux-header{
        background-color: #fff;
    }
    body .vux-header .vux-header-title{
        font-size: 1rem;
        color: #22232b;
    }
    .zzcc {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .zzcc li {
        box-shadow: 0 0 .5rem #ff9db0;
        background-color: #fff;
        padding: .5rem 3rem;
        border-radius: .4rem;
    }
    .zzcc li a {
        color: #22232b;
    }
    .deals-index .item-head{
        background-color: #f4f4f4;
    }
    .deals-index .item-head{
        color: #666666;
    }
    .speciali {
        padding: .5rem 1.5rem !important;
    }
</style>
<div id="app"><!---->
    <div class="vux-header">
        <div class="vux-header-left">
            <span class="iconfont left-arrow">&#xe61f;</span>
        </div>
        <h1 class="vux-header-title"><?php echo strtoupper($coiName); ?></h1>
        <div class="vux-header-right">
            <a href="{:url('Index/index')}" class="exalt">
                <span class="iconfont backChat">&#xe658;</span>
            </a>
        </div>
    </div>
    <div class="app-body">
        <div id="myChart" _echarts_instance_="ec_1531556588143">
            <div class="head-text flex-1">
                <div class="assets-text">剩余<?php echo strtoupper($coiName); ?>：</div>
                <div class="assets-numb">0</div>
            </div>
        </div>
        <div class="deals-index">
            <div class="deals-head flex-box">
                {if condition="$coiName eq 'bhp'"}
                <ul class="zzcc">
                    <li class="speciali">
                        <a class="withdraw" href="#" data-url="{:url('trade')}?coin={$coiName}">转账</a>
                    </li>
                    <li class="speciali">
                        <a href="{:url('toShop')}">转商城</a>
                    </li>
                    <li class="speciali">
                        <a href="{:url('selfPackage')}?coin={$coiName}">充值</a>
                    </li>
                </ul>
                {else /}
                <ul class="zzcc">
                    <li>
                        <a class="withdraw" href="#" data-url="{:url('trade')}?coin={$coiName}">转账</a>
                    </li>
                    <li>
                        <a href="{:url('selfPackage')}?coin={$coiName}">充值</a>
                    </li>
                </ul>
                {/if}
            </div>
            <div class="deals-content">
                <div class="deals-title"><?php echo strtoupper($coiName); ?>历史转账记录
                </div>
                <div class="deals-block">
                    <div class="item item-head flex-box">
                        <div class="item-item numb">
                            数量
                        </div>
                        <div class="item-item price flex-1">
                            币种
                        </div>
                        <div class="item-item price flex-1">
                            时间
                        </div>
                        <div class="item-item item-btn">类型</div>
                    </div>
                    {if condition="count($list) neq 0"}
                    {volist name="list" id="vo"}
                    {if condition="$vo.coin_type eq 'eth'"}
                    <div class="block-box">
                        <div class="item flex-box">
                            <div class="item-item numb">{$vo.num}</div>
                            <div class="item-item price flex-1">
                                <div class="item-price">{$vo.coin_type}
                                </div>
                            </div>
                            <div class="item-item price flex-1">
                                <div class="item-price"><?php echo date("Y-m-d ",$vo['create_time']) ?>
                                </div>
                            </div>
                            <a href="https://etherscan.io/tx/{$vo.tx_hash}" class="item-item item-btn">
                                {if condition="$vo.type eq 0"}
                                转入
                                {/if}
                                {if condition="$vo.type eq 1"}
                                转出
                                {/if}
                                {if condition="$vo.type eq 2"}
                                转商城
                                {/if}
                            </a>
                        </div>
                    </div>
                    {/if}
                    {if condition="$vo.coin_type eq 'bhp'"}
                    <div class="block-box">
                        <div class="item flex-box">
                            <div class="item-item numb">{$vo.num}</div>
                            <div class="item-item price flex-1">
                                <div class="item-price">{$vo.coin_type}
                                </div>
                            </div>
                            <div class="item-item price flex-1">
                                <div class="item-price"><?php echo date("Y-m-d ",$vo['create_time']) ?>
                                </div>
                            </div>
                            <a href="https://etherscan.io/tx/{$vo.tx_hash}" class="item-item item-btn">
                                {if condition="$vo.type eq 0"}
                                转入
                                {/if}
                                {if condition="$vo.type eq 1"}
                                转出
                                {/if}
                                {if condition="$vo.type eq 2"}
                                转商城
                                {/if}
                            </a>
                        </div>
                    </div>
                    {/if}
                    {if condition="$vo.coin_type eq 'usdt'"}
                    <div class="block-box">
                        <div class="item flex-box">
                            <div class="item-item numb">{$vo.num}</div>
                            <div class="item-item price flex-1">
                                <div class="item-price">{$vo.coin_type}
                                </div>
                            </div>
                            <div class="item-item price flex-1">
                                <div class="item-price"><?php echo date("Y-m-d ",$vo['create_time']) ?>
                                </div>
                            </div>
                            <a href="https://etherscan.io/tx/{$vo.tx_hash}" class="item-item item-btn">
                                {if condition="$vo.type eq 0"}
                                转入
                                {/if}
                                {if condition="$vo.type eq 1"}
                                转出
                                {/if}
                                {if condition="$vo.type eq 2"}
                                转商城
                                {/if}
                            </a>
                        </div>
                    </div>
                    {/if}
                    {if condition="$vo.coin_type eq 'btc'"}
                    <div class="block-box">
                        <div class="item flex-box">
                            <div class="item-item numb">{$vo.num}</div>
                            <div class="item-item price flex-1">
                                <div class="item-price">{$vo.coin_type}
                                </div>
                            </div>
                            <div class="item-item price flex-1">
                                <div class="item-price"><?php echo date("Y-m-d ",$vo['create_time']) ?>
                                </div>
                            </div>
                            <a href="https://btc.com/{$vo.tx_hash}" class="item-item item-btn">
                                {if condition="$vo.type eq 0"}
                                转入
                                {/if}
                                {if condition="$vo.type eq 1"}
                                转出
                                {/if}
                                {if condition="$vo.type eq 2"}
                                转商城
                                {/if}
                            </a>
                        </div>
                    </div>
                    {/if}
                    {/volist}
                    <div>
                        {$page}
                    </div>
                    {else /}
                    <div class="nodata">
                        <img src="/public/static/mobile/images/download.png" alt="">
                        <h4>暂无数据</h4>
                    </div>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if (typeof web3 !== 'undefined') {
        web3 = new Web3(web3.currentProvider);
    } else {
        // set the provider you want from Web3.providers
        web3 = new Web3('http://47.74.33.78:8545');
    }

    $(function(){

        //跳转提币
        $('.withdraw').click(function(){
            if('{$coiName}' == 'usdt' || '{$coiName}' == 'btc')
            {
                layer.open({
                    content: '该币种暂未开放！'
                    ,skin: 'msg'
                    ,time: 2 //2秒后自动关闭
                });
                return false;
            }
            window.location.href = $(this).attr('data-url');
        });

        if('{$coiName}' == 'eth')
        {
            //查询eth余额
            var ethAddress = "{$coinAddress}";
            web3.eth.getBalance(ethAddress, function(err, resp){
                if(!err){
                    var eth = web3.utils.fromWei(resp, 'ether');
                    $(".assets-numb").html(eth);
                }else{
                    console.log(err);
                }
            });
        }

        if('{$coiName}' == 'usdt')
        {
            //查询usdt余额
            getUsdtLst();
            function getUsdtLst()
            {
                // 定义合约
                var usdtContractAddress = '0xdac17f958d2ee523a2206206994597c13d831ec7';
                var usdtAddress = "{$coinAddress}";
                var myContract = new web3.eth.Contract([
                    {
                        "constant": true,
                        "inputs": [],
                        "name": "name",
                        "outputs": [
                            {
                                "name": "",
                                "type": "string"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "constant": false,
                        "inputs": [
                            {
                                "name": "_spender",
                                "type": "address"
                            },
                            {
                                "name": "_value",
                                "type": "uint256"
                            }
                        ],
                        "name": "approve",
                        "outputs": [
                            {
                                "name": "success",
                                "type": "bool"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "function"
                    },
                    {
                        "constant": true,
                        "inputs": [],
                        "name": "totalSupply",
                        "outputs": [
                            {
                                "name": "",
                                "type": "uint256"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "constant": false,
                        "inputs": [
                            {
                                "name": "_from",
                                "type": "address"
                            },
                            {
                                "name": "_to",
                                "type": "address"
                            },
                            {
                                "name": "_value",
                                "type": "uint256"
                            }
                        ],
                        "name": "transferFrom",
                        "outputs": [
                            {
                                "name": "success",
                                "type": "bool"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "function"
                    },
                    {
                        "constant": true,
                        "inputs": [],
                        "name": "decimals",
                        "outputs": [
                            {
                                "name": "",
                                "type": "uint8"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "constant": true,
                        "inputs": [],
                        "name": "version",
                        "outputs": [
                            {
                                "name": "",
                                "type": "string"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "constant": true,
                        "inputs": [
                            {
                                "name": "_owner",
                                "type": "address"
                            }
                        ],
                        "name": "balanceOf",
                        "outputs": [
                            {
                                "name": "balance",
                                "type": "uint256"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "constant": true,
                        "inputs": [],
                        "name": "symbol",
                        "outputs": [
                            {
                                "name": "",
                                "type": "string"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "constant": false,
                        "inputs": [
                            {
                                "name": "_to",
                                "type": "address"
                            },
                            {
                                "name": "_value",
                                "type": "uint256"
                            }
                        ],
                        "name": "transfer",
                        "outputs": [
                            {
                                "name": "success",
                                "type": "bool"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "function"
                    },
                    {
                        "constant": false,
                        "inputs": [
                            {
                                "name": "_spender",
                                "type": "address"
                            },
                            {
                                "name": "_value",
                                "type": "uint256"
                            },
                            {
                                "name": "_extraData",
                                "type": "bytes"
                            }
                        ],
                        "name": "approveAndCall",
                        "outputs": [
                            {
                                "name": "success",
                                "type": "bool"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "function"
                    },
                    {
                        "constant": true,
                        "inputs": [
                            {
                                "name": "_owner",
                                "type": "address"
                            },
                            {
                                "name": "_spender",
                                "type": "address"
                            }
                        ],
                        "name": "allowance",
                        "outputs": [
                            {
                                "name": "remaining",
                                "type": "uint256"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "inputs": [
                            {
                                "name": "_initialAmount",
                                "type": "uint256"
                            },
                            {
                                "name": "_tokenName",
                                "type": "string"
                            },
                            {
                                "name": "_decimalUnits",
                                "type": "uint8"
                            },
                            {
                                "name": "_tokenSymbol",
                                "type": "string"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "constructor"
                    },
                    {
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "fallback"
                    },
                    {
                        "anonymous": false,
                        "inputs": [
                            {
                                "indexed": true,
                                "name": "_from",
                                "type": "address"
                            },
                            {
                                "indexed": true,
                                "name": "_to",
                                "type": "address"
                            },
                            {
                                "indexed": false,
                                "name": "_value",
                                "type": "uint256"
                            }
                        ],
                        "name": "Transfer",
                        "type": "event"
                    },
                    {
                        "anonymous": false,
                        "inputs": [
                            {
                                "indexed": true,
                                "name": "_owner",
                                "type": "address"
                            },
                            {
                                "indexed": true,
                                "name": "_spender",
                                "type": "address"
                            },
                            {
                                "indexed": false,
                                "name": "_value",
                                "type": "uint256"
                            }
                        ],
                        "name": "Approval",
                        "type": "event"
                    }
                ], usdtContractAddress, {
                    from: usdtAddress, // default from address
                    gasPrice: '10000000000' // default gas price in wei, 10 gwei in this case
                });
                myContract.methods.balanceOf(usdtAddress).call(function(err, tkns){
                    if (!err) {
                        var result = web3.utils.fromWei(tkns, 'mwei');
                        $(".assets-numb").html(result);
                    }else{
                        //循环查询
                        getUsdtLst();
                    }
                });
            }
        }

        if('{$coiName}' == 'bhp')
        {
            //查询bhp余额
            getBhpLst();
            //查询bhp余额
            function getBhpLst()
            {
                // 定义合约
                var bhpContractAddress = '0xf2cc0b71caaa4338d842729cf1639eb6dc787e89';
                var bhpAddress = "{$coinAddress}";
                var myContract = new web3.eth.Contract([
                    {
                        "constant": true,
                        "inputs": [],
                        "name": "name",
                        "outputs": [
                            {
                                "name": "",
                                "type": "string"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "constant": false,
                        "inputs": [
                            {
                                "name": "_spender",
                                "type": "address"
                            },
                            {
                                "name": "_value",
                                "type": "uint256"
                            }
                        ],
                        "name": "approve",
                        "outputs": [
                            {
                                "name": "success",
                                "type": "bool"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "function"
                    },
                    {
                        "constant": true,
                        "inputs": [],
                        "name": "totalSupply",
                        "outputs": [
                            {
                                "name": "",
                                "type": "uint256"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "constant": false,
                        "inputs": [
                            {
                                "name": "_from",
                                "type": "address"
                            },
                            {
                                "name": "_to",
                                "type": "address"
                            },
                            {
                                "name": "_value",
                                "type": "uint256"
                            }
                        ],
                        "name": "transferFrom",
                        "outputs": [
                            {
                                "name": "success",
                                "type": "bool"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "function"
                    },
                    {
                        "constant": true,
                        "inputs": [],
                        "name": "decimals",
                        "outputs": [
                            {
                                "name": "",
                                "type": "uint8"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "constant": true,
                        "inputs": [],
                        "name": "version",
                        "outputs": [
                            {
                                "name": "",
                                "type": "string"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "constant": true,
                        "inputs": [
                            {
                                "name": "_owner",
                                "type": "address"
                            }
                        ],
                        "name": "balanceOf",
                        "outputs": [
                            {
                                "name": "balance",
                                "type": "uint256"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "constant": true,
                        "inputs": [],
                        "name": "symbol",
                        "outputs": [
                            {
                                "name": "",
                                "type": "string"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "constant": false,
                        "inputs": [
                            {
                                "name": "_to",
                                "type": "address"
                            },
                            {
                                "name": "_value",
                                "type": "uint256"
                            }
                        ],
                        "name": "transfer",
                        "outputs": [
                            {
                                "name": "success",
                                "type": "bool"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "function"
                    },
                    {
                        "constant": false,
                        "inputs": [
                            {
                                "name": "_spender",
                                "type": "address"
                            },
                            {
                                "name": "_value",
                                "type": "uint256"
                            },
                            {
                                "name": "_extraData",
                                "type": "bytes"
                            }
                        ],
                        "name": "approveAndCall",
                        "outputs": [
                            {
                                "name": "success",
                                "type": "bool"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "function"
                    },
                    {
                        "constant": true,
                        "inputs": [
                            {
                                "name": "_owner",
                                "type": "address"
                            },
                            {
                                "name": "_spender",
                                "type": "address"
                            }
                        ],
                        "name": "allowance",
                        "outputs": [
                            {
                                "name": "remaining",
                                "type": "uint256"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "inputs": [
                            {
                                "name": "_initialAmount",
                                "type": "uint256"
                            },
                            {
                                "name": "_tokenName",
                                "type": "string"
                            },
                            {
                                "name": "_decimalUnits",
                                "type": "uint8"
                            },
                            {
                                "name": "_tokenSymbol",
                                "type": "string"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "constructor"
                    },
                    {
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "fallback"
                    },
                    {
                        "anonymous": false,
                        "inputs": [
                            {
                                "indexed": true,
                                "name": "_from",
                                "type": "address"
                            },
                            {
                                "indexed": true,
                                "name": "_to",
                                "type": "address"
                            },
                            {
                                "indexed": false,
                                "name": "_value",
                                "type": "uint256"
                            }
                        ],
                        "name": "Transfer",
                        "type": "event"
                    },
                    {
                        "anonymous": false,
                        "inputs": [
                            {
                                "indexed": true,
                                "name": "_owner",
                                "type": "address"
                            },
                            {
                                "indexed": true,
                                "name": "_spender",
                                "type": "address"
                            },
                            {
                                "indexed": false,
                                "name": "_value",
                                "type": "uint256"
                            }
                        ],
                        "name": "Approval",
                        "type": "event"
                    }
                ], bhpContractAddress, {
                    from: bhpAddress, // default from address
                    gasPrice: '10000000000' // default gas price in wei, 10 gwei in this case
                });
                myContract.methods.balanceOf(bhpAddress).call(function(err, tkns){
                    if (!err) {
                        result = tkns / 100000000;
                        $(".assets-numb").html(result);
                        console.log(result);
                    }else{
                        //循环查询
                        getBhpLst();
                    }
                });
            }
        }
    });
</script>
{include file="common/footer"}
